# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules
/backup
backup
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

#files
Carlos_Preview.mp4
5fee879c0efc1df1de74eb2d7a05a4a3.webp
a13e9bc01d8511dd06b4b45142b99d19.webp
node_modules
node_modules
node_modules
